/* Base styles */
.App {
  text-align: center;
}

/* App specific styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Map styles */
.map-container {
  height: 100vh !important;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: white;
}
.fixed-header button {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;  /* -1% letter spacing */
}

/* Container styles */
.responsive-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.w-full.h-screen.flex.flex-col {
  min-height: 100vh;
  overflow: hidden;
}

/* Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 640px) {
  .mobile-only {
    display: block;
  }
  
  .desktop-only {
    display: none;
  }

  .map-container {
    height: calc(100vh - 60px) !important;
  }
}

@media screen and (min-width: 641px) {
  .mobile-only {
    display: none;
  }
  
  .desktop-only {
    display: block;
  }
}